<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Minimal Django File Upload Example</title>	
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
	</head>

	<body>
		<h3>
			Welcome to the VML upload portal!
		</h3>
		{% if shell_scripts %}
			{% for shell_script in shell_scripts %}
				{% if shell_script.docfile.name == "scripts/vmlModInfoTreeCreation.sh" %}
		<p>Start by downloading the<a href="{{ shell_script.docfile.url }}">VML MOD INFO TREE CREATION SCRIPT</a> to analyze your machine's installed kernels (and their modules/drivers)</p>
				{% else %}
		<p>ERROR! The VML MOD INFO TREE CREATION SCRIPT CANNOT BE FOUND</p>
				{% endif %}
			{% endfor %}
		{% else %}
		<p>(So I guess not shell scripts)</p>
		{% endif %}
		<br />
		<br />

		<!-- Upload form. Note enctype attribute! -->
		<div class="jumbotron">
	        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
	                {% csrf_token %}
	                <p>{{ form.non_field_errors }}</p>
	                <h3>
	                	<span class="label label-primary">
	                		{{ form.docfile.label_tag }} {{ form.docfile.help_text }}
	                	</span>
	                </h3>
	                <p>
	                        {{ form.docfile.errors }}
	                        {{ form.docfile }}
	                </p>
	                <p><input type="submit" value="Upload" /></p>
	        </form>
        </div>
		<br />
		<br />


		<p> The following machines have added their kernels to VML: </p>	
		<ul>
		{% if kernel_tarballs %}
			{% for kernel_tarball in kernel_tarballs %}
			<li>
				<a href="{{ kernel_tarball.docfile.url }}">
				{{ kernel_tarball.pretty_name }}
				</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
			<p>No tarballs uploaded, you're the first!</p>
		{% endif %}
	</body>
</html> 