<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Minimal Django File Upload Example</title>	
	</head>

	<body>
		<h3>
			Welcome to the VML upload portal!
		</h3>
		{% if shell_scripts %}
			{% for shell_script in shell_scripts %}
				{% if shell_script.docfile.name == "scripts/vmlModInfoTreeCreation.sh" %}
		<p>Start by downloading the<a href="{{ shell_script.docfile.url }}">VML MOD INFO TREE CREATION SCRIPT</a> to analyze your machine's installed kernels (and their modules/drivers)</p>
				{% else %}
		<p>ERROR! The VML MOD INFO TREE CREATION SCRIPT CANNOT BE FOUND</p>
				{% endif %}
			{% endfor %}
		{% endif %}
		<br />
		<br />

		<!-- Upload form. Note enctype attribute! -->
        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>
                <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                <p>
                        {{ form.docfile.errors }}
                        {{ form.docfile }}
                </p>
                <p><input type="submit" value="Upload" /></p>
        </form>
		<br />
		<br />


		<p> The following machines have added their kernels to VML: </p>	
		<ul>
		{% if kernel_tarballs %}
			{% for kernel_tarball in kernel_tarballs %}
			<li>
				<a href="{{ kernel_tarball.docfile.url }}">
				{{ kernel_tarball.pretty_name }}
				</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
			<p>No tarballs uploaded, you're the first!</p>
		{% endif %}
	</body>
</html> 
