<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VML|Kernel Diff</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.css">
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js"></script>
	</head>





	<body style="margin-left: 20px; margin-right: 20px;">


		<!-- PROGRESS BARS -->
		{% if display_list %}
			<div style="margin-top: 20px;">
			</div>
			<div class="progress-modules progress progress-striped active" style="width: calc(50% - 10px); float: left;">
			  <div class="progress-bar progress-bar-success pbm" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{ display_list_length }}" style="width: 0%;">

			  </div>
			</div>
<!-- 			<div class="progress-modules progress progress-striped active" style="width: calc(50% - 10px); float: right;">
			  <div class="progress-bar progress-bar-default pba" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{ display_list_length }}" style="width: 0%;">
			  </div>
			</div> -->
		{% endif %}
  </div>
</div>



		<!-- KERNEL SELECTING FORM -->
		<div style= "padding-top: 20px; padding-bottom: 20px;">
			<form method="post">{% csrf_token %}
				<div style="width: 100px; display: relative; float:left;">
					<button type="submit" class="btn btn-primary">
						Diff Kernels
					</button>
				</div>
				<div style="width: calc(50% - 50px); display: relative; float: left;">
					{% load widget_tweaks %}
					{{ form.kernel_one|append_attr:"class:selectpicker"|append_attr:"data-style:btn-success"|append_attr:"data-live-search:true" }}
					<script type="text/javascript">
						$('.selectpicker').selectpicker('render');
					</script>
				</div>
				<div style="width: calc(50% - 50px); display: relative; float: right;">
					{{ form.kernel_two|append_attr:"class: selectpicker"|append_attr:"data-style: btn-success"|append_attr:"data-live-search: true" }}
					<script type="text/javascript">
						$('.selectpicker').selectpicker('render');
					</script>
				</div>
			</form>
		</div>

		<!-- DIFF DISPLAY FORM -->
		<div style="margin-top: 20px;">
			{% if display_list and api_url_root %}
				{% for name in display_list %}
						<span style="margin-left: 100px; width: calc(50% - 50px); display: relative; float: left; border-top: 1px solid #ccc; padding-top: 5px">
							{% if name.kv_one_id != 'null' %}
								<p style="font-weight: bold" class="{{ name.kv_one_id }}">
									to_be_added
								</p>
								<div class="alias-{{ name.kv_one_id }}" style="border-top: 1px dashed #ccc">
									<p style="padding-top: 8px">add_aliases_here</p>
							    </div>
							{% else %}
								<p style="font-weight: bold; color: #cc0000;">null</p>
							{% endif %}
						</span>
						<span style="width: calc(50% - 50px); display: relative; float: right; border-top: 1px solid #ccc; padding-top: 5px;">
							{% if name.kv_two_id != 'null' %}
								<p style="font-weight: bold" class="{{ name.kv_two_id }}">
									to_be_added
								</p>
							    <div class="alias-{{ name.kv_two_id }}" style="border-top: 1px dashed #ccc">
									<p style="padding-top: 8px">add_aliases_here</p>
							    </div>
							{% else %}
								<p style="font-weight: bold; color: #cc0000;">null</p>

							{% endif %}
						</span>
						<div style="width: calc(100% - 100px); display: relative; float: right;">
						</div>




						<script>
							$(document).ready(function() {


								{% if name.kv_one_id != 'null' %}
									
								    $.ajax({
								        url: "{{ api_url_root }}/api/mod_pretty/{{ name.kv_one_id }}",
								        dataType: "text",
								        success: function(data) {


								            var json = $.parseJSON(data)
								            var s = ""
								            s += json.name
								            if (json.version != 'NULL') {
								            	s += ', '
								            	s += json.version
								            }
								            if (json.srcversion != 'NULL') {
								            	s += ', '
								            	s += json.srcversion
								            }
								            $(".{{ name.kv_one_id }}").text(s)


								            var value = parseInt($('.pbm').attr('aria-valuenow'));
											value = value + 1;
											var percent = Math.ceil(value/{{ display_list_length }} * 100);
											$('.pbm').css('width', percent+'%').attr('aria-valuenow', value);
								        }
								    })
								{% endif %}

								{% if name.kv_two_id != 'null' %}
							    	

								    $.ajax({
								        url: "{{ api_url_root }}/api/mod_pretty/{{ name.kv_two_id }}",
								        dataType: "text",
								        success: function(data) {


								            var json = $.parseJSON(data)
								            var s = ""
								            s += json.name
								            if (json.version != 'NULL') {
								            	s += ', '
								            	s += json.version
								            }
								            if (json.srcversion != 'NULL') {
								            	s += ', '
								            	s += json.srcversion
								            }
								            $(".{{ name.kv_two_id }}").text(s)


								            {% if name.kv_one_id == 'null' %}
								            	var value = parseInt($('.pbm').attr('aria-valuenow'));
												value = value + 1;
												var percent = Math.ceil(value/{{ display_list_length }} * 100);
												$('.pbm').css('width', percent+'%').attr('aria-valuenow', value);
								            {% endif %}
								        }
								    })

								{% endif %}


								{% if name.kv_one_id != 'null' and name.kv_two_id != 'null' %}

									KernelOne = {
										getArray1: function(k1_callback) {
											var kernel_one_aliases = new Array;
										    kernel_one_aliases.ajax({
								            	url: "{{ api_url_root }}/api/alias_by_mod/{{ name.kv_one_id }}",
										        dataType: "text",
										        success: function(data) {
										        	$(".alias-{{ name.kv_one_id }}").text("")
										        	var json = $.parseJSON(data)
										        	$.each(json, function (index, value) {
										        		var s=""
										        		if (value.vendor != "null") {
										        			s += ("00000" + value.vendor).slice(-4);
										        		}
										        		if (value.device != "null") {
										        			s += ":"
										        			s += ("00000" + value.device).slice(-4);
										        		}
										        		if (value.subvendor != "null") {
										        			s += ":"
										        			s += ("00000" + value.subvendor).slice(-4);
										        		}
										        		if (value.subdevice != "null") {
										        			s += ":"
										        			s += ("00000" + value.subdevice).slice(-4);
										        		}
										        		kernel_one_aliases.push(s)  		
												    })
										    		k1_callback.call(this,kernel_one_aliases)

										   			// var value = parseInt($('.pba').attr('aria-valuenow'));
													// value = value + 1;
													// var percent = Math.ceil(value/{{ display_list_length }} * 100);
													// $('.pba').css('width', percent+'%').attr('aria-valuenow', value);

												}
								           	})
								        }
						           	}


									KernelTwo = {
										getArray2: function(k2_callback) {
											var kernel_two_aliases = new Array;
											$.ajax({
								            	url: "{{ api_url_root }}/api/alias_by_mod/{{ name.kv_two_id }}",
										        dataType: "text",
										        success: function(data) {
										        	aliases_diff_2 = []
										            $(".alias-{{ name.kv_two_id }}").text("")
										        	var json = $.parseJSON(data)
										        	$.each(json, function (index, value) {
										        		var s=""
										        		if (value.vendor != "null") {
										        			s += ("00000" + value.vendor).slice(-4);
										        		}
										        		if (value.device != "null") {
										        			s += ":"
										        			s += ("00000" + value.device).slice(-4);
										        		}
										        		if (value.subvendor != "null") {
										        			s += ":"
										        			s += ("00000" + value.subvendor).slice(-4);
										        		}
										        		if (value.subdevice != "null") {
										        			s += ":"
										        			s += ("00000" + value.subdevice).slice(-4);
										        		}

										        		kernel_two_aliases.push(s)

												    });
												    k2_callback.call(this,kernel_two_aliases)
										        }
								           	})
										}
									}

									$.when (
										KernelOne.getArray1(function(a) {
										    return a;
										}),
										KernelTwo.getArray2(function(b) {
											return b;
										})

									).done(function(a, b) {

									
										// var value = parseInt($('.pba').attr('aria-valuenow'));
										// value = value + 1;
										// var percent = Math.ceil(value/{{ display_list_length }} * 100);
										// $('.pba').css('width', percent+'%').attr('aria-valuenow', value);

										while (a.length > 0) {
											var s_1 = a.pop()
											$(".alias-{{ name.kv_one_id }}").append("<p style=\"border-top: 1px dashed #ccc; padding-top: 5px;\">"+s_1+"</p>")
										}
										while (b.length > 0) {
											var s_2 = b.pop()
											$(".alias-{{ name.kv_two_id }}").append("<p style=\"border-top: 1px dashed #ccc; padding-top: 5px;\">"+s_2+"</p>")
										}

									});

								{% endif %}


							})
						</script>


				{% endfor %}
			{% endif %}
		</div>




	</body>
</html>


