<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<title>VML|Kernel Diff</title>
		{% load staticfiles %}
		<!-- CDN js/css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.css">
		<link rel="stylesheet" href="{% static "diff_kernel/style.css" %}">
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js"></script>

	</head>





	<body style="margin-left: 10px; margin-right: 0px;">

		<!-- Kernel selection form -->
		<div id="kernel_selection_form" style="padding-top: 10px; padding-bottom: 10px;">
			<form method="post">{% csrf_token %}
				<div style="width: 100px; display: relative; float:left; margin-right: 10px;">
					<button type="submit" class="btn btn-default">
						Diff Kernels
					</button>
				</div>
				<div class="row" style="width: calc(50% - 30px); display: relative; float: left;">
					{% load widget_tweaks %}
					{{ form.kernel_one|append_attr:"class:selectpicker col-sm-12"|append_attr:"data-style:btn-primary"|append_attr:"data-live-search:true" }}
					<script type="text/javascript">
						$('.selectpicker').selectpicker('render');
					</script>
				</div>
				<div class="row" style="width: calc(50% - 45px); display: relative; float: right; margin-right: 0px;">
					{{ form.kernel_two|append_attr:"class: selectpicker col-sm-12"|append_attr:"data-style:btn-warning"|append_attr:"data-live-search: true"|append_attr:"style: padding-right:0px;"}}
					<script type="text/javascript">
						$('.selectpicker').selectpicker('render');
					</script>
				</div>
			</form>
		</div>

		{% if kernel_diff_info %}
			<!-- Buttons that toggle which modules/aliases to display -->
			<button type="button" class="btn btn-default" style="width: 100px; margin-right: 10px; float: left; height: 37.59px;">
				Help
			</button>

			<div class="btn-group" style="width: calc(100% - 110px); margin-bottom: 10px; padding-right: 10px;">

			  <button type="button" class="btn btn-primary btn-old-mod" style="width: 20%;">
			  	old mod - devices
			  	<span class="badge pull-right" style="padding: 6px 8px;">
			  		{{ kernel_diff_info.old_mod_val }}
			  	</span>
			  </button>

			  <button type="button" class="btn btn-primary btn-old-vsn" style="width: 20%; background-color: #4FA293;">
			  	old vsn - devices
			  	<span class="badge pull-right" style="padding: 6px 8px;color: #4FA293;">
			  		{{ kernel_diff_info.old_vsn_val }}
			  	</span>
			  </button>

			  <button type="button" class="btn btn-success btn-diff-vsn" style="width: 20%; border-left-color: #357ebd; border-top-color: #357ebd; border-bottom-color: #357ebd">
				  diff vsn - mods
				  <span class="badge pull-right" style="padding: 6px 8px;">
				  	{{ kernel_diff_info.diff_vsn_val }}
				  </span>
			  </button>

			  <button type="button" class="btn btn-primary btn-new-vsn" style="width: 20%; background-color: #99cc66;">
				  new vsn - devices
				  <span class="badge pull-right" style="padding: 6px 8px;color: #99cc66;">
				  	{{ kernel_diff_info.new_vsn_val }}
				  </span>
			  </button>

			  <button type="button" class="btn btn-primary btn-new-mod" style="width: 20%;background-color: #f0ad4e">
				  new mod - devices
				  <span class="badge pull-right" style="padding: 6px 8px;color: #f0ad4e;">
				  	{{ kernel_diff_info.new_mod_val }}
				  </span>
			  </button>

			</div>

			<!-- Output of the Kernel Diff -->
			<div id="kernel_diff_output_rows">


				{% for row in kernel_diff_info.mod_pairs_list %}

					<!-- Each row (contains modules and aliases) -->
					<div class="kernel_diff_row btn-group btn-group-justified

						{% if row.kernel_one_module.aliases and not row.kernel_two_module %}
							old-mod
						{% endif %}

						{% if row.kernel_two_module.aliases and not row.kernel_one_module %}
							new-mod
						{% endif %}

						{% if not row.kernel_one_module.aliases and not row.kernel_two_module.aliases %}
							diff-mod
						{% endif %}

					" style="width: calc(100% - 15px);margin-bottom: 10px;">


						{% if row.kernel_one_module %}


							<div class="kernel_one_column btn-group" style="width:50%; float: left;">


								<button class="btn btn-default kernel_column_header {{ row.kernel_one_module.module_name}}{{ row.kernel_one_module.version }}{{ row.kernel_one_module.srcversion }} {% if row.kernel_one_module.aliases or row.kernel_two_module.aliases %}btn-lg{% if row.kernel_one_module.aliases %} btn-danger{% endif %}{% endif %}" style="width: 100%; text-align: center;">
									{{ row.kernel_one_module.module_name}}{% if row.kernel_one_module.version != 'NULL' %} {{ row.kernel_one_module.version }}{% endif %}{% if row.kernel_one_module.srcversion != 'NULL' %} {{ row.kernel_one_module.srcversion }}{% endif %}
								</button>		


							</div>


						{% endif %}


						{% if row.kernel_two_module %}


							<div class="kernel_two_column btn-group" style="width:50%; float: right;">


								<button class="btn btn-default kernel_column_header {{ row.kernel_one_module.module_name}}{{ row.kernel_one_module.version }}{{ row.kernel_one_module.srcversion }} 
								{% if row.kernel_one_module.aliases or row.kernel_two_module.aliases %}
									btn-lg
									{% if row.kernel_two_module.aliases %}
										btn-danger
									{% endif %}
								{% endif %}
								" style="width: 100%; text-align: center;">
									{{ row.kernel_two_module.module_name}}
									{% if row.kernel_two_module.version != 'NULL' %}
										 {{ row.kernel_two_module.version }}
									{% endif %}
									{% if row.kernel_two_module.srcversion != 'NULL' %}
										 {{ row.kernel_two_module.srcversion }}
									{% endif %}
								</button>


							</div>


						{% endif %}
					</div>
					<div class="row_spacer" style="width: 100%; display: relative; float: right;">
					</div>
						{% if row.kernel_one_module.aliases %}
							<div class="kernel_column_header aliases-{{ row.kernel_one_module.module_name}}{{ row.kernel_one_module.version }}{{ row.kernel_one_module.srcversion }}" style="width:calc(50% - 7px); margin-left: 0px; padding-left: 0px; float: left;">
								<ul class="list-group
									{% if row.kernel_two_module %}
										old-vsn
									{% else %}
										old-mod
									{% endif %}
								" style="width: calc(100% - 5px); margin-bottom: 10px; float: left;">
							{% for alias in row.kernel_one_module.aliases %}
								<li class="list-group-item list-group-item-danger" style="margin-bottom: 0px;" class="alias {{ alias }} {{ row.kernel_one_module.module_name}}{{ row.kernel_one_module.version }}{{ row.kernel_one_module.srcversion }}">{{ alias }}</li>
							{% endfor %}
								</ul>
							</div>
						{% endif %}
						{% if row.kernel_two_module.aliases %}
							<div class="kernel_column_header aliases-{{ row.kernel_two_module.module_name}}{{ row.kernel_two_module.version }}{{ row.kernel_two_module.srcversion }}" style="width:calc(50% - 8px); float: right; margin-right: 10px;">
								<ul class="list-group
									{% if row.kernel_one_module %}
										new-vsn
									{% else %}
										new-mod
									{% endif %}
								" style="width: calc(100% - 5px); margin-bottom: 10px; float: left;">
							{% for alias in row.kernel_two_module.aliases %}
								<li class="list-group-item list-group-item-danger" style="margin-bottom: 0px;" class="alias {{ alias }} {{ row.kernel_two_module.module_name}}{{ row.kernel_two_module.version }}{{ row.kernel_two_module.srcversion }}">{{ alias }}</li>
							{% endfor %}
								</ul>
							</div>
						{% endif %}

					<!-- Just keeps the row justified after all output is done -->
					<div class="row_spacer" style="width: calc(100% - 110px); display: relative; float: right;">
					</div>


				{% endfor %}

				<script>
					$(document).ready(function() {
						$('.diff-mod').toggle()
						$('.btn-diff-vsn').toggleClass("grey")
						$('.btn-diff-vsn').click(function() {
							$('.diff-mod').toggle()
							$(this).toggleClass("grey")
						})

						$('.btn-old-vsn').click(function() {
							$('.old-vsn').toggle()
							$(this).toggleClass("grey")
						})

						$('.btn-old-mod').click(function() {
							$('.old-mod').toggle()
							$(this).toggleClass("grey")
						})

						$('.btn-new-vsn').click(function() {
							$('.new-vsn').toggle()
							$(this).toggleClass("grey")
						})

						$('.btn-new-mod').click(function() {
							$('.new-mod').toggle()
							$(this).toggleClass("grey")
						})
					})
				</script>


			</div>
		{% endif %}

	</body>
</html>


